/autosave
*.lit
*.bsp
makkon_prefabs.map
dev_tools_kebby.wad
qbj3_devroom.map
*.pts
/maps/autosave
sound/swarmer/sight3.wav
sound/swarmer/sight2.wav
sound/swarmer/sight1.wav
sound/swarmer/punch4.wav
sound/swarmer/punch3.wav
sound/swarmer/punch2.wav
sound/swarmer/punch1.wav
sound/swarmer/idle8.wav
sound/swarmer/idle7.wav
sound/swarmer/idle6.wav
sound/swarmer/idle5.wav
sound/swarmer/idle4.wav
sound/swarmer/idle3.wav
sound/swarmer/idle2.wav
sound/swarmer/idle1.wav
sound/swarmer/footstep5.wav
sound/swarmer/footstep4.wav
sound/swarmer/footstep3.wav
sound/swarmer/footstep2.wav
sound/swarmer/footstep1.wav
sound/swarmer/death3.wav
sound/swarmer/death2.wav
sound/swarmer/death1.wav
sound/swarmer/attack7.wav
sound/swarmer/attack6.wav
sound/swarmer/attack5.wav
sound/swarmer/attack4.wav
sound/swarmer/attack3.wav
sound/swarmer/attack2.wav
sound/swarmer/attack1.wav
sound/sploder/sploder_scream3.wav
sound/sploder/sploder_scream2.wav
sound/sploder/sploder_scream.wav
sound/sploder/sploder_pain.wav
sound/sploder/sploder_idle3.wav
sound/sploder/sploder_idle2.wav
sound/sploder/sploder_idle1.wav
sound/sploder/sploder_idle.wav
sound/sploder/sploder_hum.wav
sound/rebar/stick1.wav
sound/rebar/pierce3.wav
sound/rebar/pierce2.wav
sound/rebar/pierce1.wav
sound/rebar/penfire.wav
sound/player/waterstep9.wav
sound/player/waterstep8.wav
sound/player/waterstep7.wav
sound/player/waterstep6.wav
sound/player/waterstep5.wav
sound/player/waterstep4.wav
sound/player/waterstep3.wav
sound/player/waterstep2.wav
sound/player/waterstep10.wav
sound/player/waterstep1.wav
sound/player/player_pain9.wav
sound/player/player_pain8.wav
sound/player/player_pain7.wav
sound/player/player_pain6.wav
sound/player/player_pain5.wav
sound/player/player_pain4.wav
sound/player/player_pain3.wav
sound/player/player_pain2.wav
sound/player/player_pain1.wav
sound/player/player_land2_2.wav
sound/player/player_land2_1.wav
sound/player/player_land1_6.wav
sound/player/player_land1_5.wav
sound/player/player_land1_4.wav
sound/player/player_land1_3.wav
sound/player/player_land1_2.wav
sound/player/player_land1_1.wav
sound/player/player_jump7.wav
sound/player/player_jump6.wav
sound/player/player_jump5.wav
sound/player/player_jump4.wav
sound/player/player_jump3.wav
sound/player/player_jump2.wav
sound/player/player_jump1.wav
sound/player/player_h2odeath3.wav
sound/player/player_h2odeath2.wav
sound/player/player_h2odeath1.wav
sound/player/player_gasp2_4.wav
sound/player/player_gasp2_3.wav
sound/player/player_gasp2_2.wav
sound/player/player_gasp2_1.wav
sound/player/player_gasp1_5.wav
sound/player/player_gasp1_4.wav
sound/player/player_gasp1_3.wav
sound/player/player_gasp1_2.wav
sound/player/player_gasp1_1.wav
sound/player/player_fall3.wav
sound/player/player_fall2.wav
sound/player/player_fall1.wav
sound/player/player_drown6.wav
sound/player/player_drown5.wav
sound/player/player_drown4.wav
sound/player/player_drown3.wav
sound/player/player_drown2.wav
sound/player/player_drown1.wav
sound/player/player_death7.wav
sound/player/player_death6.wav
sound/player/player_death5.wav
sound/player/player_death4.wav
sound/player/player_death3.wav
sound/player/player_death2.wav
sound/player/player_death1.wav
sound/player/player_burn4.wav
sound/player/player_burn3.wav
sound/player/player_burn2.wav
sound/player/player_burn1.wav
sound/player/footstep9.wav
sound/player/footstep8.wav
sound/player/footstep7.wav
sound/player/footstep6.wav
sound/player/footstep5.wav
sound/player/footstep4.wav
sound/player/footstep3.wav
sound/player/footstep2.wav
sound/player/footstep10.wav
sound/player/footstep1.wav
sound/pistol/pistol_shoot.wav
sound/pistol/mag_drop.wav
sound/pistol/gun_click.wav
sound/pistol/deadlock_reload.wav
sound/pistol/ammo_rattle.wav
sound/ogre/ogre_sight_securearea.wav
sound/ogre/ogre_sight_hey.wav
sound/ogre/ogre_sight_contact.wav
sound/ogre/ogre_pain_3.wav
sound/ogre/ogre_pain_2.wav
sound/ogre/ogre_pain_1.wav
sound/ogre/ogre_idle_gettingpaid.wav
sound/ogre/ogre_idle_breathing_2.wav
sound/ogre/ogre_idle_breathing_1.wav
sound/ogre/ogre_idle_allclear.wav
sound/ogre/ogre_death_2.wav
sound/ogre/ogre_death_1.wav
sound/ogre/ogre_attacking_submit.wav
sound/ogre/ogre_attacking_engagingtarget.wav
sound/ogre/ogre_attacking_diealready.wav
sound/ogre/ogre_aggro_whohasavisual.wav
sound/ogre/ogre_aggro_pathetic.wav
sound/ogre/ogre_aggro_killher.wav
sound/ogre/ogre_aggro_dontletherescape.wav
sound/ogre/electric_zap.wav
sound/ogre/electric_spark.wav
sound/ogre/electric_shock.wav
sound/ogre/electric_crackle.wav
sound/ogre/electric_buzz.wav
sound/mmml/silo_load2.wav
sound/mmml/silo_load.wav
sound/mmml/silo_latch.wav
sound/mmml/silo_clunk2.wav
sound/mmml/silo_clunk.wav
sound/mmml/fire4.wav
sound/mmml/fire3.wav
sound/mmml/fire2.wav
sound/mmml/fire1.wav
sound/misc/ladder2.wav
sound/misc/ladder.wav
sound/misc/h2ohit1.wav
sound/knight/knight_sight_youregoingdown.wav
sound/knight/knight_sight_ivegother.wav
sound/knight/knight_sight_enemysighted.wav
sound/knight/knight_pain_3.wav
sound/knight/knight_pain_2.wav
sound/knight/knight_pain_1.wav
sound/knight/knight_idle_yeahgoodhere.wav
sound/knight/knight_idle_confirmingposition.wav
sound/knight/knight_idle_conditionreportblue.wav
sound/knight/knight_death_2.wav
sound/knight/knight_death_1.wav
sound/knight/knight_aggro_standdown.wav
sound/knight/knight_aggro_dieasshole.wav
sound/items/vampstart.wav
sound/items/vamppickup3.wav
sound/items/vamppickup2.wav
sound/items/vamppickup1.wav
sound/items/vampfade.wav
sound/items/berserk_pickup.wav
sound/items/berserk_fire.wav
sound/items/berserk_fade.wav
sound/items/armor_shard.wav
sound/items/armor_light.wav
sound/items/armor_heavy.wav
sound/invoker/rail_fire1.wav
sound/invoker/magic26.wav
sound/invoker/magic21.wav
sound/invoker/magic08.wav
sound/invoker/magic07.wav
sound/invoker/invoker_firerail.wav
sound/hknight/hknight_sight_4.wav
sound/hknight/hknight_sight_3.wav
sound/hknight/hknight_sight_2.wav
sound/hknight/hknight_sight_1.wav
sound/hknight/hknight_pain_4.wav
sound/hknight/hknight_pain_3.wav
sound/hknight/hknight_pain_2.wav
sound/hknight/hknight_pain_1.wav
sound/hknight/hknight_idle_4.wav
sound/hknight/hknight_idle_3.wav
sound/hknight/hknight_idle_2.wav
sound/hknight/hknight_idle_1.wav
sound/hknight/hknight_death_4.wav
sound/hknight/hknight_death_3.wav
sound/hknight/hknight_death_2.wav
sound/hknight/hknight_death_1.wav
sound/grunt/soldier_sight_target.wav
sound/grunt/soldier_sight_hostile.wav
sound/grunt/soldier_sight_contact.wav
sound/grunt/soldier_pain4.wav
sound/grunt/soldier_pain3.wav
sound/grunt/soldier_pain2.wav
sound/grunt/soldier_pain1.wav
sound/grunt/soldier_idle_unithasnocontact.wav
sound/grunt/soldier_idle_ten4.wav
sound/grunt/soldier_idle_ten2.wav
sound/grunt/soldier_idle_standingby.wav
sound/grunt/soldier_idle_inposition.wav
sound/grunt/soldier_firing.wav
sound/grunt/soldier_fireinthehole.wav
sound/grunt/soldier_death2.wav
sound/grunt/soldier_death1.wav
sound/grunt/soldier_aggro_stopresisting.wav
sound/grunt/soldier_aggro_outbreak.wav
sound/grunt/soldier_aggro_movingin.wav
sound/grunt/soldier_aggro_mobile.wav
sound/grunt/soldier_aggro_converging.wav
sound/grunt/soldier_aggro_breakcover.wav
sound/grenade/grenade_reload.wav
sound/flak/volley_fire3.wav
sound/flak/volley_fire2.wav
sound/flak/volley_fire1.wav
sound/flak/shotgun3.wav
sound/flak/pump_reload.wav
sound/flak/bullet_impact4.wav
sound/flak/bullet_impact3.wav
sound/flak/bullet_impact2.wav
sound/flak/bullet_impact1.wav
sound/enforcer/enf_sight_theresheis_2.wav
sound/enforcer/enf_sight_theresheis_1.wav
sound/enforcer/enf_sight_targetsighted.wav
sound/enforcer/enf_sight_target.wav
sound/enforcer/enf_pain_6.wav
sound/enforcer/enf_pain_5.wav
sound/enforcer/enf_pain_4.wav
sound/enforcer/enf_pain_3.wav
sound/enforcer/enf_pain_2.wav
sound/enforcer/enf_pain_1.wav
sound/enforcer/enf_idle_unit7.wav
sound/enforcer/enf_idle_unit12.wav
sound/enforcer/enf_idle_unit10.wav
sound/enforcer/enf_idle_statuscheck.wav
sound/enforcer/enf_idle_standbyradio.wav
sound/enforcer/enf_idle_radiocheck.wav
sound/enforcer/enf_idle_envirostat.wav
sound/enforcer/enf_idle_allunitsradio.wav
sound/enforcer/enf_death_6.wav
sound/enforcer/enf_death_5.wav
sound/enforcer/enf_death_4.wav
sound/enforcer/enf_death_3.wav
sound/enforcer/enf_death_2.wav
sound/enforcer/enf_death_1.wav
sound/enforcer/enf_aggro_firefirefire.wav
sound/enforcer/enf_aggro_fireatwill.wav
sound/enforcer/enf_aggro_fire.wav
sound/enforcer/enf_aggro_allunitsfireatwill.wav
sound/amalg/amalgsight.wav
sound/amalg/amalgshoot.wav
sound/amalg/amalgpain2.wav
sound/amalg/amalgpain1.wav
sound/amalg/amalgidle.wav
sound/amalg/amalgdeath.wav
sound/amalg/amalg_goop2.wav
sound/amalg/amalg_goop1.wav
quake.rc
qbj3_milestone.map
qbj3.fgd
progs/zombienm_qbj.mdl
progs/zombie_qbj.mdl
progs/wizard_qbj.mdl
progs/v_wrench.mdl
progs/v_tnailgun.mdl
progs/v_rebar.mdl
progs/v_pistol.mdl
progs/v_mmml.mdl
progs/v_invoker.mdl
progs/v_grenlauncher.mdl
progs/v_flakshotgun.mdl
progs/v_berserk.mdl
progs/tracer_long_yellow.mdl
progs/toothy_qbj.mdl
progs/tb/shells_2.mdl
progs/tb/shells_1.mdl
progs/tb/shells_0.mdl
progs/tb/nails_2.mdl
progs/tb/nails_1.mdl
progs/tb/nails_0.mdl
progs/tb/health_2.mdl
progs/tb/health_1.mdl
progs/tb/health_0.mdl
progs/tb/fragments_2.mdl
progs/tb/fragments_1.mdl
progs/tb/fragments_0.mdl
progs/tb/explosives_2.mdl
progs/tb/explosives_1.mdl
progs/tb/explosives_0.mdl
progs/swarmer_qbj.mdl
progs/sploder_qbj.mdl
progs/spike.mdl
progs/spawn_qbj.mdl
progs/soldier_shotgun_qbj.mdl
progs/soldier_rocket_qbj.mdl
progs/soldier_pistol_qbj.mdl
progs/shambler_qbj.mdl
progs/shalrath_qbj.mdl
progs/s_explo2.spr
progs/s_blood_96x.spr
progs/s_blood_64x.spr
progs/s_blood_32x.spr
progs/s_blood_128x.spr
progs/r_key.mdl
progs/proj_wizard2.mdl
progs/proj_wizard.mdl
progs/proj_voreball2.mdl
progs/proj_voreball.mdl
progs/proj_rebar_zom_nosmoke.mdl
progs/proj_rebar_zom.mdl
progs/proj_rebar_nosmoke.mdl
progs/proj_rebar.mdl
progs/proj_pellet.mdl
progs/proj_nail.mdl
progs/proj_missile.mdl
progs/proj_minigrenade.mdl
progs/proj_lmg.mdl
progs/proj_laser.mdl
progs/proj_grenade.mdl
progs/proj_chain.mdl
progs/proj_amalgoop_explo.mdl
progs/proj_amalgoop.mdl
progs/player_qbj.mdl
progs/pistol_mag.mdl
progs/ogre_qbj.mdl
progs/null.mdl
progs/MDL_Frame_Counter_0-255.mdl
progs/m_key.mdl
progs/lavaball.mdl
progs/knight_qbj.mdl
progs/k_spike_cold.mdl
progs/k_spike2.mdl
progs/k_spike.mdl
progs/item_vampglobe.mdl
progs/item_vamp.mdl
progs/item_suit.mdl
progs/item_quaddama.mdl
progs/item_invul.mdl
progs/item_invis.mdl
progs/item_berserk.mdl
progs/item_armor_shard.mdl
progs/item_armor_light.mdl
progs/item_armor_heavy.mdl
progs/hknight_qbj.mdl
progs/gibs/gibhead_zombie.mdl
progs/gibs/gibhead_vore.mdl
progs/gibs/gibhead_swarmer.mdl
progs/gibs/gibhead_shambler.mdl
progs/gibs/gibhead_scrag.mdl
progs/gibs/gibhead_ogre.mdl
progs/gibs/gibhead_knight.mdl
progs/gibs/gibhead_hellknight.mdl
progs/gibs/gibhead_grunt_s.mdl
progs/gibs/gibhead_grunt_r.mdl
progs/gibs/gibhead_grunt_p.mdl
progs/gibs/gibhead_enforcer.mdl
progs/gibs/gibhead_dog.mdl
progs/gibs/gibhead_demon.mdl
progs/gibs/gib_shambler_6.mdl
progs/gibs/gib_shambler_5.mdl
progs/gibs/gib_shambler_4.mdl
progs/gibs/gib_shambler_3.mdl
progs/gibs/gib_shambler_2.mdl
progs/gibs/gib_shambler_1.mdl
progs/gibs/gib_gen_6.mdl
progs/gibs/gib_gen_5.mdl
progs/gibs/gib_gen_4.mdl
progs/gibs/gib_gen_3.mdl
progs/gibs/gib_gen_2.mdl
progs/gibs/gib_gen_1.mdl
progs/gibs/gib_conc_3.mdl
progs/gibs/gib_conc_2.mdl
progs/gibs/gib_conc_1.mdl
progs/g_wrench.mdl
progs/g_tnailgun.mdl
progs/g_rebar.mdl
progs/g_pistol.mdl
progs/g_mmml.mdl
progs/g_invoker.mdl
progs/g_grenlauncher.mdl
progs/g_flakshotgun.mdl
progs/fish_qbj.mdl
progs/enforcer_qbj.mdl
progs/effect_taser_swing.mdl
progs/effect_taser_smash.mdl
progs/effect_taser.mdl
progs/dog_qbj.mdl
progs/demon_qbj.mdl
progs/debris3.mdl
progs/debris2.mdl
progs/debris1.mdl
progs/candle3.mdl
progs/candle2.mdl
progs/candle1.mdl
progs/bullet_casing.mdl
progs/buckshot_casing.mdl
progs/bolt.mdl
progs/backpack_big.mdl
progs/backpack.mdl
progs/ammo/shells_small.mdl
progs/ammo/shells_med.mdl
progs/ammo/shells_large.mdl
progs/ammo/shells_drop.mdl
progs/ammo/nails_small.mdl
progs/ammo/nails_med.mdl
progs/ammo/nails_large.mdl
progs/ammo/health_small.mdl
progs/ammo/health_med.mdl
progs/ammo/health_large.mdl
progs/ammo/fragments_small.mdl
progs/ammo/fragments_med.mdl
progs/ammo/fragments_large.mdl
progs/ammo/explosives_small.mdl
progs/ammo/explosives_med.mdl
progs/ammo/explosives_large.mdl
progs/ammo/explosives_drop.mdl
progs.dat
pak1.pak
pak0.pak
ironwail.cfg
gfx/gfx.wad
gfx/env/stick_sunset2_up.tga
gfx/env/stick_sunset2_rt.tga
gfx/env/stick_sunset2_lf.tga
gfx/env/stick_sunset2_ft.tga
gfx/env/stick_sunset2_dn.tga
gfx/env/stick_sunset2_bk.tga
gfx/env/dev_skybox_up.tga
gfx/env/dev_skybox_rt.tga
gfx/env/dev_skybox_lf.tga
gfx/env/dev_skybox_ft.tga
gfx/env/dev_skybox_dn.tga
gfx/env/dev_skybox_bk.tga
csprogs.dat
progs/fx/blood1.mdl
progs/fx/blood2.mdl
progs/fx/blood3.mdl
progs/fx/blood4.mdl
progs/fx/blood_big1.mdl
progs/fx/blood_big2.mdl
progs/fx/blood_big3.mdl
progs/fx/blood_big4.mdl
progs/fx/invoked_amalgam.mdl
progs/fx/invoked_chain.mdl
progs/fx/invoked_champion.mdl
progs/fx/invoked_demon.mdl
progs/fx/invoked_dog.mdl
progs/fx/invoked_enforcer.mdl
progs/fx/invoked_fish.mdl
progs/fx/invoked_knight.mdl
progs/fx/invoked_ogre.mdl
progs/fx/invoked_player.mdl
progs/fx/invoked_shalrath.mdl
progs/fx/invoked_shambler.mdl
progs/fx/invoked_soldier_p.mdl
progs/fx/invoked_soldier_r.mdl
progs/fx/invoked_soldier_s.mdl
progs/fx/invoked_spawn.mdl
progs/fx/invoked_sploder.mdl
progs/fx/invoked_swarmer.mdl
progs/fx/invoked_wizard.mdl
progs/fx/invoked_zombie.mdl
progs/fx/invoked_zombienm.mdl
progs/fx/spark1.mdl
progs/fx/spark2.mdl
progs/fx/spark3.mdl
progs/fx/spark4.mdl
sound/flak/shell_casing1.wav
sound/flak/shell_casing2.wav
sound/flak/shell_casing3.wav
sound/flak/shotgun2.wav
sound/flak/shotgun_fire1.wav
sound/flak/shotgun_fire2.wav
sound/flak/shotgun_fire3.wav
sound/flak/shotgun_fire4.wav
sound/grenade/grenade_fire1.wav
sound/grenade/grenade_fire2.wav
sound/grenade/grenade_fire3.wav
sound/impact/bullet_impact1.wav
sound/impact/bullet_impact2.wav
sound/impact/bullet_impact3.wav
sound/impact/bullet_impact4.wav
sound/impact/ric1.wav
sound/impact/ric2.wav
sound/impact/ric3.wav
sound/impact/ric4.wav
sound/impact/ric5.wav
sound/invoker/energy_charge.wav
sound/invoker/energy_hit1.wav
sound/invoker/energy_hit2.wav
sound/invoker/energy_hit3.wav
sound/invoker/energy_hit4.wav
sound/nail/airpuff.wav
sound/nail/nail_tink1.wav
sound/nail/nail_tink2.wav
sound/nail/nail_tink3.wav
sound/nail/nailgun1.wav
sound/nail/nailgun2.wav
sound/nail/nailgun3.wav
sound/nail/nailgun4.wav
sound/nail/nailgun5.wav
sound/pistol/casing.wav
sound/pistol/pistol_fire.wav
sound/pistol/pistol_fire1.wav
sound/pistol/pistol_fire2.wav
sound/pistol/pistol_fire3.wav
sound/pistol/pistol_fire4.wav
sound/rebar/bow_clank.wav
sound/rebar/bow_reload1.wav
sound/rebar/bow_reload2.wav
sound/rebar/bow_reload3.wav
sound/rebar/bow_reload4.wav
sound/rebar/pierce_impact.wav
sound/rebar/stick_metal1.wav
sound/rebar/stick_metal2.wav
*.sav
auto.sav
